<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.6" name="app">
    <main-class name="sample_java_jbossmoduledemo.Main"/>
    <resources>
        <resource-root path="main.jar"/>
    </resources>
    <dependencies>
        <module name="hello"/>
    </dependencies>
</module>